
.message_input_wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;        
    margin: .5em;    
}

.message_input {
    border-radius: 25px;
    border: 1px solid #bcbdc0;    
    box-sizing: border-box;
    width: calc(100% - 150px);    
    outline-width: 0;
    color: gray;
    padding: .2em;
}

.send_message {
    width: 140px;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    transition: all 0.2s linear;
}

.send_message:hover {
    color: #a3d063;
    background-color: #fff;
}